.highlight {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #eaeaf6;
    padding: 1rem 1.5rem;
}

.float-right {
    float: right;
}


.headerSection {
    margin-bottom: 1rem;
    background-color: #eaeaf6;
    padding-top: 1rem;
    padding-bottom: 1rem;
}